$primary-color: #56b9fa;
$secondary-color: #ff383f;
$control-border-radius: 2px;
$panel-size: 22px;


* {
  margin: 0;
  padding: 0;
}


html {
  height: 100%;
}
body {
  min-height: 100%;
  background: url(transparent.png);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.Redactor {
  margin: 10vh auto;
  max-width: 800px;
  padding: 20px;
  background: white;
}

.Build {
  &-blocks {}
}


.Block {
  position: relative;

  .Build.is-active &:hover {
    z-index: 1;
    margin: -5px;
    border: 5px solid $primary-color;
    border-radius: $control-border-radius;
  }
  .Build.is-active &.is-delete:hover {
    border-color: $secondary-color;
  }
  &-handlers {
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -$panel-size;
    display: none;
    width: $panel-size;
    min-height: 2 * $panel-size;
    background: $primary-color;
    border-radius: $control-border-radius;
    cursor: move;
  }
  .Build.is-active &:hover &-handlers {
    display: block;
  }
  .Build.is-active &.is-delete:hover &-handlers {
    background: $secondary-color;
  }
  &-icon {
    position: absolute;
    left: 0;
    width: $panel-size;
    height: $panel-size;
    text-align: center;
    color: white;
    cursor: pointer;
    font-size: $panel-size;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }

    &--settings {
      top: 0;
      line-height: 1;
      background: url(settings.svg) 50% 50% / 80% no-repeat;
    }
    &--delete {
      bottom: 0;
      line-height: 0.82;
      background: url(delete.svg) 50% 50% / 50% no-repeat;
      color : #1b8cac;
    }
  }
}


// Стили прототипа

.Screen {
  &-name {}
}
.Popup {
  position: relative;
  width: 500px;
  padding: 20px 30px;
  box-shadow: 0 1px 60px rgba(black, 0.4);

  &-close {
    position: absolute;
    top: 5px;
    right: 10px;
    line-height: 20px;
    font-size: 20px;
    color: white;
    cursor: pointer;
  }
}
.Header {
  padding: 20px 0;
  line-height: 30px;
  font-weight: lighter;
  font-size: 26px;
  color: white;
}
.Text {
  font-size: 16px;
  color: white;

  &--small {
    font-size: 13px;
  }
}
.Form {
  padding: 0;
}
.Field {
  position: relative;
}
.Input {
  width: 100%;
}
.Button {
  width: 100%;
  font-size: 16px;
}
.Links {
  padding: 10px;

  & > * {
    display: inline-block;
    vertical-align: top;
  }

  &--center {
    text-align: center;
  }

  .Link {
    margin: 0 10px;
  }
}
.Link {
  text-decoration: none;
  display: inline-block;
  line-height: 0.95em;
  font-size: 13px;
  color: white;
  border-bottom: 1px dashed white;
}
