<section class="Build"
         ng-class="{'is-empty': build.blocks.length === 0}"
         ng-mouseenter="mouseenter()"
         ng-mouseleave="mouseleave()">
  <div class="Adder is-opened">
    <div class="Adder-wrapper">
      <div class="Adder-icon">+</div>
      <div class="Adder-blocks">
        <div class="Adder-block"
             ng-repeat="block in build.canReceive"
             ng-click="addBlock(block, 0)">{{ t[block] }}</div>
      </div>
    </div>
  </div>
  <div class="Build-blocks" ng-sortable="sortableConfig">
    <article class="Block"
             ng-repeat="block in build.blocks track by $index"
             ng-class="{'is-delete': block.$isDelete, 'is-controlsEnabled': isActive(), 'is-controlsFixed': block.$settingsIsOpened}"
             ng-init="$i = $index">
      <div class="Block-panel" ng-class="{'is-opened': block.$settingsIsOpened}">
        <div class="Block-icon Block-icon--settings" ng-click="toggleSettings(block)"></div>
        <div class="Block-icon Block-icon--delete"
             ng-mouseenter="block.$isDelete = true"
             ng-mouseleave="block.$isDelete = false"
             ng-click="removeBlock($index)"></div>
        <div class="Block-settings">
          <div ng-include="'templates/settings.html'"></div>
          <button class="Block-settingsClose" ng-click="toggleSettings(block)">Закрыть</button>
        </div>
      </div>
      <div class="Adder" ng-show="build.canReceive.length && (build.maxLength ? build.blocks.length < build.maxLength : true)">
        <div class="Adder-wrapper">
          <div class="Adder-icon">+</div>
          <div class="Adder-blocks">
            <div class="Adder-block"
                 ng-repeat="block in build.canReceive"
                 ng-click="addBlock(block, $i)">{{ t[block] }}</div>
          </div>
        </div>
      </div>
      <div ng-include="'templates/blocks.html'"></div>
    </article>
  </div>
</section>
